h1= title
p Welcome to #{title}
div#tweets

script(type= 'text/javascript', charset= 'utf8', src= '/tdw2011/js/jquery-1.6.4.min.js')
script(type= 'text/javascript', charset= 'utf8', src= '/tdw2011/socket.io/socket.io.js')
script(type= 'text/javascript', charset= 'utf8', src= '/tdw2011/js/main.js')
